<div class="notification">
    <div class="collapse show" id="collapseExample">
        <div class="card card-body">
            <div class="cookie row">
                <div class="cookie-paragraph col-md-8">
                <p > By accessing and using this website, you acknowledge that you have read and understand our <a class="link">Cookie Policy</a>, <a>Privacy Policy</a>, and our <a>Terms of Service</a></p>
                </div>
                <div class="got-it-button col-md-3">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Got it
                </button>
                </div>
            </div>
        </div>
    </div>
</div>