<div class="hello">
  <div class="jumbotron">
    <img class="logo" src="../../assets/y-logo-white.png"></img>
    <div class="layer">
        <h2 class="display-7">Hello! INI WEBSITE KRI</h2>
        <p class="lead"><b>Consult, Design, and Develop Websites</b></p>
        <p>Have something great in mind? Feel free to contact me.</p>
        <p>I'll help you to make it happen</p>
        <button class="btn btn-primary btn-lg" href="#" role="button"><b>LET'S MAKE CONTACT</b></button>
    </div>
  </div>
</div>